.custom-container {
  position: fixed;
  top: 10%;
  left: 20;
  width: 70vw;
  height: 80vh;
  background-color: azure;
  overflow-y: auto;
  z-index: 1050;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.custom-container.show {
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
}


.custom-container.hide {
  display: none;
}

 .modal-footer {
  width: 100%;
}

.modal-body {
  width: 100%;
  overflow-y: auto;
}



/* .modal-header .close { 
  padding: 0;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
} */
.add-gooditem-container{
  margin: 20px;
  border: 1px solid black;
  display: block;
  gap: 40px;
}