
.item-page-container {
    margin-left: 200px;
    width: calc(100% - 300px);
    padding: 20px;
  }
  .item-page-container1{
    width: 100wh;
    display: flex;
    padding: 10px;
    gap: 1000px;
    overflow: auto;
  }

  .item-page-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: fit-content;
  }

 
  /* Close button styling */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  item-heading{
    font-size: 2rem;
    text-decoration: solid;
    padding-left: 6px;
    margin-top: 8px;
  }

  .btn1{
    position : absolute;
    right: 100px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  